body,
html {
  padding: 0;
  margin: 0;
}

body {
  color: $font-color;
  line-height: 2em;
  font-family: $base-font, sans-serif;
  font-size: $font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: $heading_font, sans-serif;
}

input[type=email],
input[type=password],
input[type=text] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
}
