{% extends "base.html" %} {% block body %}
<header class="gray-container">
  <h1>Network Monitoring System</h1>
  <p>You have been invited to participate in a study regarding a network monitoring system. Your participation in this study is entirely voluntary, and you may withdraw at any time.
    <br>Thank you for your participation.</p>
</header>
<section class="form-container">
  <form class="form" method="post">
    <div class="form-grid">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-confirm">
        <button type="submit" class="btn btn-green">Agree</button>
        <a href="{% url 'home' %}" class="btn btn-default">Decline</a>
      </div>
    </div>
  </form>
</section>
{% endblock %}
